/* To make Responsive
---------------------------------------------------------------------- /
#  1 - media screen and (max-width: 1200px)
#  2 - media screen and (max-width: 1024px)
#  3 - media screen and (max-width: 992px)
#  4 - media screen and (max-width: 768px)
#  5 - media screen and (max-width: 480px)
#  6 - media screen and (max-width: 320px)

#
---------------------------------------------------------------------- */



@media screen and (min-width: 1200px) {
  .social-icon li {
    margin-left: 20px;
  }
  .social-icon li .fa {
    font-size: 24px;
  }
  .nav-block .nav > li > a {
    font-size: 16px;
  }
  .thumb-img {
    height: 452px;
    width: 452px;
  }
  .thumb-img img {
    height: 442px;
    width: 442px;
    border-radius:50%;
  }
}
@media screen and (max-width: 1200px) {
  .nav-block .nav > li > a {
    font-size: 14px;
  }
  .story-detail p {
    font-size: 14px;
    line-height: normal
  }
  .thumb-img {
    height: 310px;
    width: 310px;
  }
  .thumb-img img {
    height: 302px;
    width: 302px;
    border-radius:50%;
  }
  .thumb-img h5 {
    font-size: 24px;
    margin: 24px 0px;
  }
  .thumb-img h5 small {
    font-size: 18px;
  }
  .thumb-img p
  {
    margin-bottom: 28px;
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  .rsvpLink, .quote, .blog-bg, footer {
    background-attachment: scroll !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
  }
}

@media screen and (max-width: 992px) {
  .rsvpLink, .quote, .blog-bg, footer {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 992px) {
  .nav-block .navbar-nav li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  body, html {
    font-size:14px;
    line-height:normal;
  }
  .nav-block .nav > li > a {
    font-size: 12px;
    padding: 5px 8px;
  }
  .img-responsive {
    display: inline-block;
  }
  .story-block ul li {
    float:none;
    width:100%;
    display:block
  }
  .story-img {
    text-align:center;
  }
  .blog-header .blog-caption a {
    padding:5px;
  }
  .thumb-img {
    height: 280px;
    width: 280px;
  }
  .thumb-img img {
    height: 272px;
    width: 272px;
    border-radius:50%;
  }
  .event-date {
    padding: 37px 10px;
  }
  .thumbnail-detail .social-icon li a {
    font-size: 20px;
  }
  .timeline-block-content .timeline-head h4 {
    font-size: 16px;
  }
  .timeline-body {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .nav-block .navbar-nav li {
    margin: 0;
  }
  .story-detail {
    padding: 0px 0px;
  }
  .single-blog-meta ul li {
    padding: 15px 12px;
  }
  .event .col-md-4:last-child .event-block {
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .nav-block .navbar-nav li {
    float: none;
    display: inline-block;
  }
  .nav-block .navbar-nav > li {
    /*height: 47px; */
  }
  .nav-block ul.navbar-nav > li > ul > li {
    display: block;
  }
  .nav-block .navbar-nav {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    position: inherit;
    width: auto;
    float: none;
  }
  .nav-block .navbar-nav li {
    text-align: left;
  }
  .thumbnail-block, .thumbnail-block-content {
    width: 298px;
    margin: 0 auto;
    margin-bottom:20px;
  }
  .left-content .profile, .profile {
    text-align:center;
  }
  .photo-gallery ul li {
    width:33.3333333333%;
  }
  .contact-block {
    padding-left: 0;
  }
  .contact-address ul li {
    text-align: center;
  }
  .divider {
    border:none;
  }
  .contact-address ul li .fa  {
    float: none;
    display: block;
    text-align: center;
    width: auto;
    margin-bottom: 10px;
  }
  .contact-address ul li .address-phone {
    float:none;
    width:auto;
    padding:0;
  }
  .contact h5 {
    text-align:center;
  }
  .color-overlay,
  .contact,
  .blog,
  .gallery,
  .gift,
  .event,
  .people,
  .story,
  .couple {
    padding: 30px 0;
  }
  .event {
    padding: 30px 0 80px;
  }
  .heading {
    margin-bottom: 30px;
  }
  .footer-logo {
    margin-bottom:15px;
  }
  .mobile-pos {
    position:absolute;
    right: 60px;
    top: -5px;
  }
  .nav-block .navbar-default .navbar-toggle .icon-bar {
    background:#fff;
  }
  .blog-list li {
    float: none;
    width: auto;
  }
  .timeline {
    margin-bottom: 20px;
  }
  .timeline-head h4 {
    font-size: 18px;
  }
  .blog-post {
    width: 300px;
    margin: 0 auto 30px;
  }
  .thumbnail-block-content {
    margin-bottom: 30px;
  }
  .people-thumbnail-block {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .thumb-img {
    height: 250px;
    width: 250px;
  }
  .thumb-img img {
    height: 242px;
    width: 242px;
    border-radius:50%;
  }
  .love-sign {
    top: 0;
  }
  .thumb-img h5 {
    font-size: 18px;
    margin: 22px 0;
    line-height: 12px;
  }
  .thumb-img p {
    margin-bottom: 12px;
  }
  .rsvpLink-title {
    font-size: 28px;
  }
  .left-content .social-icon, .right-content .social-icon {
    text-align: center;
  }
  .people-thumb-img {
    text-align: center;
  }
  .profile {
    margin-bottom: 20px;
  }
  .right-content, .left-content {
    margin-bottom: 20px;
  }
  blockquote {
    font-size: 30px;
  }
  .social-icon {
    margin-top: 20px;
  }
  .next-arrow a {
    top: 0;
  }
  .sidebar-single-post {
    width: 300px;
    margin: 0 auto 20px;
  }
  .sidebar-single-post-img img {
    width: 100%;
  }
  .reply-block {
    margin-bottom: 20px;
    padding: 30px 30px 0;
  }
  .blog-content {
    padding: 30px 0;
  }
  .single-blog-meta ul li {
    padding: 15px 10px;
    font-size: 10px;
  }
  .nav-block.navbar-fixed-top {
    padding: 0;
  }
  .nav-block {
    padding: 10px 0;
  }
  .single-blog-upper, .single-blog-lower {
    padding: 30px 30px 25px;
  }
  .comment-block {
    padding: 30px 50px;
  }
  .blog-bg {
    margin-top: 55px;
  }
  .event-block {
    width: 300px;
    margin: 0 auto 60px;
  }
  .event .col-md-4:last-child .event-block {
    margin-bottom: 0;
  }
  footer a .fa {
    margin-bottom: 15px;
  }
  .timeline-block-content:before {
    left: 4px;
  }
  .love-v-sign {
    left: 0px;
  }
  .timeline-meta {
    margin-top: 20px;
  }
  .timeline-block-content .timeline-head {
    margin-top: 20px;
  }
  .timing .time_circles > div {
    display: block;
  }
}
@media screen and (max-width: 620px) {
  .timing .time_circles > div > h4 {
    font-size: 18px!important;
    display: inline-block;
  }
  .circle .time_circles > div > h4 {
    font-size: 18px!important;
  }
  .timing .time_circles > div > span[style] {
    font-size: 24px!important;
    display: inline-block;
  }
  .timeline {
    margin-bottom: 20px;
  }
  .timeline:before {
    left: 22px;
    margin-left: 0;
  }
  .timeline:after{
    content: none;
  }
  .love-sign {
    left: 25px;
    top: 5px;
  }
  .timeline .pull-left, .timeline .pull-right {
    float: none !important;
  }
  .timeline-block-left, .timeline-block-right, .reverse .timeline-block-left, .reverse .timeline-block-right {
    float: none;
    width: auto;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .timeline-left, .timeline-right {
    width: auto;
  }
  .timeline-block-right:before, .reverse .timeline-block-right:after {
    content: none;
  }
  .gift-block {
    padding: 40px 20px;
    margin-bottom: 10px;
    border: 3px solid #d44640;
  }
  .gift-block .gift-overlay {
    z-index: -1;
    background: #fff;
  }
  .col-sm-4:last-child .gift-block {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 480px) {
  .banner-logo {
    width: 260px;
    height: 256px;
    padding: 88px 0;
    margin: 40px 0 32px;
  }
  .banner-logo h2 {
    font-size: 32px;
  }
  .timing .time_circles > div > h4 {
    font-size: 12px!important;
    color: #fff;
    display: inline-block;
  }
  .circle .time_circles > div > h4 {
    font-size: 14px!important;
    margin-top: 25px;
  }
  .timing .time_circles > div > span[style] {
    font-size: 18px!important;
    display: inline-block;
  }
  .rsvpLink-title {
    font-size: 24px;
    line-height: 36px;
  }
  .rsvpLink .default-btn {
    margin-bottom: 20px;
  }
  .gift-block {
    padding: 35px 20px;
    margin-bottom: 10px;
    border: 3px solid #d44640;
  }
  .gift-block .gift-overlay {
    z-index: -1;
    background: #fff;
  }
  .col-sm-4:last-child .gift-block {
    margin-bottom: 0px;
  }
  .photo-gallery ul li {
    width:50%;
  }

  .timeline-thumbnail img {
    width: 100%;
  }


  .heading h3 { font-size: 24px;}
  .heading h3::after {
    content: url(../../images/icon/heading_right_responsive.png);
    width: 50px;
    height: 23px;
    right: -60px;
  }
  .heading h3::before {
    content: url(../../images/icon/heading_left_responsive.png);
    width: 50px;
    height: 23px;
    left: -60px;
  }
  .single-blog-meta ul li {
    float: left;
    display: block;
  }
  .single-post-thumnail li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .single-post-thumnail .img-thumbnail { padding: 0;}
  .comment-block { padding: 30px 10px; }
  .comment-block .media-list { padding-left: 10px; }
  .comment-block ul.media-list + ul { padding-left: 15px;}
}
